# Keyboard-first tweaks
keyboard_select v
keyboard_smart_jump gs
keyboard_overview go
goto_overview gO
portal_to_overview gp
overview_under_cursor gu
smart_jump_under_cursor gS
close_overview gq
goto_top_of_page;goto_right <C-S-2>

# Plugin shortcuts
_extract_highlights <C-S-h>
_translate_selected_text <C-S-t>
_translate_current_line_text <C-S-l>
_import_annotations <C-S-i>
_remove_annotations <C-S-r>
_embed_annotations <C-S-e>
_add_text <C-S-a>
_dual_panelify <C-S-d>
