@define-color backprimary #000000;
@define-color backsecondary #1A1A1A;
@define-color foreprimary #CE7688;
@define-color highprimary #C1B48E;

* {
	all: unset;
	font-family: "AdwaitaMono Nerd Font";
	font-size: 14px;
	font-weight: bold;
}

window {
	background-color: rgba(0, 0, 0, 0.68);
}

button {
	color: @highprimary;
	background-color: transparent;
	border: 2px solid transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 90%;
	min-width: 224px;
	min-height: 188px;
	padding: 0;
	margin: 0;
	transition:
		background-color 0.18s ease-in-out,
		border-color 0.18s ease-in-out,
		color 0.18s ease-in-out;
}

button:focus,
button:active,
button:hover {
	background-color: rgba(26, 26, 26, 0.45);
	border: 2px solid @foreprimary;
}

#lock {
	background-image: image(
		url("assets/laintrain.gif"),
		url("assets/laintrain.gif")
	);
}

#logout {
	background-image: image(
		url("assets/VisLain.gif"),
		url("assets/VisLain.gif")
	);
}

#shutdown {
	background-image: image(
		url("assets/acid.gif"),
		url("assets/acid.gif")
	);
}

#reboot {
	background-image: image(
		url("assets/aether-preview-02.gif"),
		url("assets/aether-preview-02.gif")
	);
}

#dummy {
	background-image: none;
	background-color: transparent;
	border: 0;
	min-width: 0;
	min-height: 0;
	padding: 0;
	margin: 0;
	color: transparent;
	font-size: 0;
	opacity: 0;
}

#dummy-end {
	background-image: none;
	background-color: transparent;
	border: 0;
	min-width: 0;
	min-height: 0;
	padding: 0;
	margin: 0;
	color: transparent;
	font-size: 0;
	opacity: 0;
}
