window {
    margin: 0px;
    border: 2px solid #ce7688;
    border-radius: 0px;
    background-color: #000000;
    font: Iosevka Fixed;
    font-size: 13px;
}

#input {
    margin: 5px;
    border: none;
    outline: none;
    color: #ce7688;
    background-color: #000000;
}

#input image {
    color: #c1b48e;
}

#input:focus {
    border: none;
    border-width: 0;
    box-shadow: none;
}

#inner-box {
    margin: 0px;
    border: none;
    background-color: #000000;
}

#outer-box {
    margin: 6px;
    border: none;
    background-color: #000000;
}

#scroll {
    margin: 0px;
    border: none;
    background-color: #000000;
}

#text {
    margin: 0px;
    border: none;
    color: #ce7688;
}

#entry {
    padding: 0px 0px 0px 6px;
    background-color: #000000;
    border: none;
}

#entry image {
    margin-right: 10px;
}

#entry:selected {
    background-color: #1a1a1a;
    font-weight: normal;
    border-radius: 0px;
    outline: none;
}

#text:selected {
    background-color: transparent;
    color: #ffb1c3;
    font-weight: normal;
}
